:host {
  --pico-outline-width: 0.0625rem;
  --pico-background-color: var(--pico-primary-background);
  --pico-border-color: var(--pico-primary-border);
  --pico-color: var(--pico-primary-inverse);
  --pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  margin: 0;
  overflow: visible;
  text-transform: none;
  appearance: button;
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  outline: none;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: background-color var(--pico-transition), border-color var(--pico-transition), color var(--pico-transition), box-shadow var(--pico-transition);
  margin-bottom: var(--pico-spacing);
  white-space: unset;
  display: inline-block;
}

:host(:is(:hover, :active, :focus)) {
  --pico-background-color: var(--pico-primary-hover-background);
  --pico-border-color: var(--pico-primary-hover-border);
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  --pico-color: var(--pico-primary-inverse);
}

:host(:focus) {
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
}

:host([kind=secondary]) {
  --pico-background-color: var(--pico-secondary-background);
  --pico-border-color: var(--pico-secondary-border);
  --pico-color: var(--pico-secondary-inverse);
  cursor: pointer;
}

:host([kind=secondary]:is(:hover, :active, :focus)) {
  --pico-background-color: var(--pico-secondary-hover-background);
  --pico-border-color: var(--pico-secondary-hover-border);
  --pico-color: var(--pico-secondary-inverse);
}

:host([kind=secondary]:focus) {
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) var(--pico-secondary-focus);
}

:host([kind=contrast]) {
  --pico-background-color: var(--pico-contrast-background);
  --pico-border-color: var(--pico-contrast-border);
  --pico-color: var(--pico-contrast-inverse);
}

:host([kind=contrast]:is(:hover, :active, :focus)) {
  --pico-background-color: var(--pico-contrast-hover-background);
  --pico-border-color: var(--pico-contrast-hover-border);
  --pico-color: var(--pico-contrast-inverse);
}

:host([kind=contrast]:focus) {
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) var(--pico-contrast-focus);
}

:host([outline]) {
  --pico-background-color: transparent;
  --pico-color: var(--pico-primary);
  --pico-border-color: var(--pico-primary);
}

:host([outline][kind=secondary]) {
  --pico-color: var(--pico-secondary);
  --pico-border-color: var(--pico-secondary);
}

:host([outline][kind=contrast]) {
  --pico-color: var(--pico-contrast);
  --pico-border-color: var(--pico-contrast);
}

:host([outline]:is(:hover, :active, :focus)) {
  --pico-background-color: transparent;
  --pico-color: var(--pico-primary-hover);
  --pico-border-color: var(--pico-primary-hover);
}

:host([outline][kind=secondary]:is(:hover, :active, :focus)) {
  --pico-background-color: transparent;
  --pico-color: var(--pico-secondary-hover);
  --pico-border-color: var(--pico-secondary-hover);
}

:host([outline][kind=contrast]:is(:hover, :active, :focus)) {
  --pico-color: var(--pico-contrast-hover);
  --pico-border-color: var(--pico-contrast-hover);
}

:host(:disabled) {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

:host([kind=secondary]:focus) {
  --pico-group-box-shadow-focus-with-button: 0 0 0 var(--pico-outline-width) var(--pico-secondary-focus);
}

:host([kind=contrast]:focus) {
  --pico-group-box-shadow-focus-with-button: 0 0 0 var(--pico-outline-width) var(--pico-contrast-focus);
}

:host([aria-busy=true]:not([outline]))::before {
  filter: brightness(0) invert(1);
}

:host([type=submit]) {
  width: 100%;
}

:host([aria-busy=true]) {
  white-space: nowrap;
  pointer-events: none;
}

:host([aria-busy=true])::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: var(--pico-icon-loading);
  background-size: 1em auto;
  background-repeat: no-repeat;
  content: "";
  vertical-align: -0.125em;
}

:host([aria-busy=true]:not(:empty))::before {
  margin-inline-end: calc(var(--pico-spacing) * 0.5);
}

:host([aria-busy=true]:empty) {
  text-align: center;
}

input {
  display: none;
}
