:host {
  --pico-background-color: var(--pico-form-element-background-color);
  --pico-border-color: var(--pico-form-element-border-color);
  --pico-color: var(--pico-form-element-color);
  --pico-border-width: 0.125rem;
  letter-spacing: inherit;
  overflow: visible;
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  outline: none;
  width: 1.25em;
}

:host(:is(:active, :focus)) {
  /* --pico-background-color: var(--pico-form-element-active-background-color); */
  --pico-border-color: var(--pico-form-element-active-border-color);
}

:host(:state(checked)), :host(:state(checked):active), :host(:state(checked):focus) {
  --pico-background-color: var(--pico-primary-background);
  --pico-border-color: var(--pico-primary-border);
  background-image: var(--pico-icon-checkbox);
}

:host(:state(indeterminate)) {
  --pico-background-color: var(--pico-primary-background);
  --pico-border-color: var(--pico-primary-border);
  background-image: var(--pico-icon-minus);
  background-position: center;
  background-size: 0.75em auto;
  background-repeat: no-repeat;
}
