:host {
  display: inline-block;
  width: 100%;
}

input {
  --pico-background-color: var(--pico-form-element-background-color);
  --pico-border-color: var(--pico-form-element-border-color);
  --pico-readonly-border-color: var(--pico-form-element-readonly-border-color);
  --pico-color: var(--pico-form-element-color);
  --pico-box-shadow: none;
  margin: 0;
  font-size: 1rem;
  font-family: var(--pico-font-family);
  letter-spacing: inherit;
  line-height: var(--pico-line-height);
  overflow: visible;
  width: 100%;
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  outline: none;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  transition: background-color var(--pico-transition), border-color var(--pico-transition), color var(--pico-transition), box-shadow var(--pico-transition);
  margin-bottom: var(--pico-spacing);
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:host(:not([type=file])) input {
  --pico-outline-width: 0.0625rem;
}
:host([type=file]) input {
  --pico-color: var(--pico-muted-color);
  padding: 0;
  border-width: 0;
  margin-left: calc(var(--pico-outline-width) * -1);
  padding: calc(var(--pico-form-element-spacing-vertical) * 0.5) 0;
  padding-left: var(--pico-outline-width);
  border: 0;
  border-radius: 0;
  background: none;
}
:host([type=file]) input::file-selector-button {
  --pico-background-color: var(--pico-primary-background);
  --pico-border-color: var(--pico-primary-border);
  --pico-color: var(--pico-primary-inverse);
  --pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  margin-right: calc(var(--pico-spacing) / 2);
  padding: calc(var(--pico-form-element-spacing-vertical) * 0.5) var(--pico-form-element-spacing-horizontal);
  /* padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal); */
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  outline: none;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  color: var(--pico-color);
  font-weight: var(--pico-font-weight);
  font-size: 1rem;
  line-height: var(--pico-line-height);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color var(--pico-transition), border-color var(--pico-transition), color var(--pico-transition), box-shadow var(--pico-transition);
}
:host([type=file]:is(:hover, :active, :focus)) input::file-selector-button {
  --pico-background-color: var(--pico-primary-hover-background);
  --pico-border-color: var(--pico-primary-hover-border);
}
:host([type=file]:focus) input::file-selector-button {
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
}
:host([type=file][aria-current]:not([aria-current=false])) input::file-selector-button,
:host([type=file]:is(:hover, :active, :focus)) input::file-selector-button {
  --pico-background-color: var(--pico-primary-hover-background);
  --pico-border-color: var(--pico-primary-hover-border);
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  --pico-color: var(--pico-primary-inverse);
}
:host([type=file]:focus) input::file-selector-button {
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
}
:host([type=file][kind=secondary]) input::file-selector-button {
  --pico-background-color: var(--pico-secondary-background);
  --pico-border-color: var(--pico-secondary-border);
  --pico-color: var(--pico-secondary-inverse);
}
:host([type=file][kind=secondary][aria-current]:not([aria-current=false])) input::file-selector-button,
:host([type=file][kind=secondary]:is(:hover, :active, :focus)) input::file-selector-button {
  --pico-background-color: var(--pico-secondary-hover-background);
  --pico-border-color: var(--pico-secondary-hover-border);
  --pico-color: var(--pico-secondary-inverse);
}
:host([type=file][kind=secondary]:focus) input::file-selector-button {
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) var(--pico-secondary-focus);
}
:host([type=file][kind=contrast]) input::file-selector-button {
  --pico-background-color: var(--pico-contrast-background);
  --pico-border-color: var(--pico-contrast-border);
  --pico-color: var(--pico-contrast-inverse);
}
:host([type=file][kind=contrast][aria-current]:not([aria-current=false])) input::file-selector-button,
:host([type=file][kind=contrast]:is(:hover, :active, :focus)) input::file-selector-button {
  --pico-background-color: var(--pico-contrast-hover-background);
  --pico-border-color: var(--pico-contrast-hover-border);
  --pico-color: var(--pico-contrast-inverse);
}
:host([type=file][kind=contrast]:focus) input::file-selector-button {
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) var(--pico-contrast-focus);
}
:host([type=file][outline]) input::file-selector-button {
  --pico-background-color: transparent;
  --pico-color: var(--pico-primary);
  --pico-border-color: var(--pico-primary);
}
:host([type=file][outline][aria-current]:not([aria-current=false])) input::file-selector-button,
:host([type=file][outline]:is(:hover, :active, :focus)) input::file-selector-button {
  --pico-background-color: transparent;
  --pico-color: var(--pico-primary-hover);
  --pico-border-color: var(--pico-primary-hover);
}
:host([type=file][kind=secondary][outline]) input::file-selector-button {
  --pico-color: var(--pico-secondary);
  --pico-border-color: var(--pico-secondary);
}
:host([type=file][kind=secondary][outline][aria-current]:not([aria-current=false])) input::file-selector-button,
:host([type=file][kind=secondary][outline]:is(:hover, :active, :focus)) input::file-selector-button {
  --pico-color: var(--pico-secondary-hover);
  --pico-border-color: var(--pico-secondary-hover);
}
:host([type=file][kind=contrast][outline]) input::file-selector-button {
  --pico-color: var(--pico-contrast);
  --pico-border-color: var(--pico-contrast);
}
:host([type=file][kind=contrast][outline][aria-current]:not([aria-current=false])) input::file-selector-button,
:host([type=file][kind=contrast][outline]:is(:hover, :active, :focus)) input::file-selector-button {
  --pico-color: var(--pico-contrast-hover);
  --pico-border-color: var(--pico-contrast-hover);
}

:host([type=color]) input::-webkit-color-swatch-wrapper {
  padding: 0;
}
:host([type=color]) input::-moz-focus-inner {
  padding: 0;
}
:host([type=color]) input::-webkit-color-swatch {
  border: 0;
  border-radius: calc(var(--pico-border-radius) * 0.5);
}
:host([type=color]) input::-moz-color-swatch {
  border: 0;
  border-radius: calc(var(--pico-border-radius) * 0.5);
}

:host(:not([type=range], [type=file])) input {
  height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2);
  appearance: none;
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
}
:host([type=range]) input {
  -webkit-appearance: none;
  accent-color: var(--pico-primary);
  padding: 0;
  border-width: 0;
  appearance: none;
  height: 1.25rem;
  background: none;
}
:host([type=range]) input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 0.375rem;
  border-radius: var(--pico-border-radius);
  background-color: var(--pico-range-border-color);
  transition: background-color var(--pico-transition), box-shadow var(--pico-transition);
}
:host([type=range]) input::-moz-range-track {
  width: 100%;
  height: 0.375rem;
  border-radius: var(--pico-border-radius);
  background-color: var(--pico-range-border-color);
  transition: background-color var(--pico-transition), box-shadow var(--pico-transition);
}
:host([type=range]) input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: -0.4375rem;
  border: 2px solid var(--pico-range-thumb-border-color);
  border-radius: 50%;
  background-color: var(--pico-range-thumb-color);
  cursor: pointer;
  transition: background-color var(--pico-transition), transform var(--pico-transition);
}
:host([type=range]) input::-moz-range-thumb {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: -0.4375rem;
  border: 2px solid var(--pico-range-thumb-border-color);
  border-radius: 50%;
  background-color: var(--pico-range-thumb-color);
  cursor: pointer;
  transition: background-color var(--pico-transition), transform var(--pico-transition);
}
:host([type=range]:is(:active, :focus-within)) input {
  --pico-range-border-color: var(--pico-range-active-border-color);
  --pico-range-thumb-color: var(--pico-range-thumb-active-color);
}
:host([type=range]:active) input::-webkit-slider-thumb {
  transform: scale(1.25);
}
:host([type=range]:active) input::-moz-range-thumb {
  transform: scale(1.25);
}
:host([type=range][ticks]) input {
  margin-bottom: 0;
}
:host([type=range][ticks]) datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
  margin-bottom: var(--pico-spacing);
}
:host([type=range][ticks]) option {
  display: inline-block;
  width: calc((100% - 1.25rem) / (var(--option-count) - 1)) - 0.4px;
  text-align: center;
  padding: 0;
  rotate: 270deg;
}
:host([type=range][ticks]) option:first-child {
  width: calc((100% - 1.25rem) / ((var(--option-count) - 1) * 2) + 0.625rem) - 0.4px;
  text-align: left;
}
:host([type=range][ticks]) option:last-child {
  width: calc((100% - 1.25rem) / ((var(--option-count) - 1) * 2) + 0.625rem) - 0.4px;
  text-align: right;
}

:host([type=search]) input {
  --pico-border-radius: 5rem;
  appearance: textfield;
  outline-offset: -2px;
  padding-inline-start: calc(var(--pico-form-element-spacing-horizontal) + 1.75rem);
  background-image: var(--pico-icon-search);
  background-position: center left calc(var(--pico-form-element-spacing-horizontal) + 0.125rem);
  background-size: 1rem auto;
  background-repeat: no-repeat;
}
:host([type=search]) input::-webkit-search-decoration {
  appearance: none;
}
:host([type=search][aria-invalid]) input {
  padding-inline-start: calc(var(--pico-form-element-spacing-horizontal) + 1.75rem) !important;
  background-position: center left 1.125rem, center right 0.75rem;
}
:host([type=search][aria-invalid=false]) input {
  background-image: var(--pico-icon-search), var(--pico-icon-valid);
}
:host([type=search][aria-invalid=true]) input {
  background-image: var(--pico-icon-search), var(--pico-icon-invalid);
}
:host([type=search]:dir(rtl)) input {
  background-position: center right 1.125rem;
}
:host([type=search][aria-invalid]:dir(rtl)) input {
  background-position: center right 1.125rem, center left 0.75rem;
}

:host(:is([type=date], [type=datetime-local], [type=month], [type=time], [type=week])) input {
  --pico-icon-position: 0.75rem;
  --pico-icon-width: 1rem;
  padding-right: calc(var(--pico-icon-width) + var(--pico-icon-position));
  background-image: var(--pico-icon-date);
  background-position: center right var(--pico-icon-position);
  background-size: var(--pico-icon-width) auto;
  background-repeat: no-repeat;
}
:host([type=time]) input {
  background-image: var(--pico-icon-time);
}
:host(:is([type=date], [type=datetime-local], [type=month], [type=time], [type=week])) input::-webkit-calendar-picker-indicator {
  width: var(--pico-icon-width);
  margin-right: calc(var(--pico-icon-width) * -1);
  margin-left: var(--pico-icon-position);
  opacity: 0;
}
@-moz-document url-prefix() {
  :host(:is([type=date], [type=datetime-local], [type=month], [type=time], [type=week])) input {
    padding-right: var(--pico-form-element-spacing-horizontal) !important;
    background-image: none !important;
  }
}
:host(:dir(rtl):is([type=date], [type=datetime-local], [type=month], [type=time], [type=week])) input {
  text-align: right;
}

:host(:is(:active, :focus)) input {
  --pico-background-color: var(--pico-form-element-active-background-color);
  --pico-border-color: var(--pico-form-element-active-border-color);
}

:host(:not([type=range], [type=file]):focus) input {
  --pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-focus-color);
}

:host(:not([type=range][aria-invalid=false]):focus) input {
  --pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-ins-color);
}

:host(:not([type=range][aria-invalid=true]):focus) input {
  --pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-del-color);
}

:host(:focus) input,
:host(:focus-visible) input {
  outline: none;
}

:host(:disabled) input {
  opacity: var(--pico-form-element-disabled-opacity);
  pointer-events: none;
}

:host(:state(readonly)) input {
  border-color: var(--pico-readonly-border-color);
}

:host([aria-invalid]) input {
  padding-right: calc(var(--pico-form-element-spacing-horizontal) + 1.5rem) !important;
  padding-left: var(--pico-form-element-spacing-horizontal);
  padding-inline-start: var(--pico-form-element-spacing-horizontal) !important;
  padding-inline-end: calc(var(--pico-form-element-spacing-horizontal) + 1.5rem) !important;
  background-position: center right 0.75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
}

:host([aria-invalid=false]) input {
  --pico-border-color: var(--pico-form-element-valid-border-color);
  background-image: var(--pico-icon-valid);
}

:host([aria-invalid=true]) input {
  --pico-border-color: var(--pico-form-element-invalid-border-color);
  background-image: var(--pico-icon-invalid);
}

:host([aria-invalid=false]:is(:active, :focus)) input {
  --pico-border-color: var(--pico-form-element-valid-active-border-color) !important;
  --pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-valid-focus-color) !important;
}

:host([aria-invalid=true]:is(:active, :focus)) input {
  --pico-border-color: var(--pico-form-element-invalid-active-border-color) !important;
  --pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-invalid-focus-color) !important;
}

:host(:dir(rtl):is([aria-invalid], [aria-invalid=true], [aria-invalid=false])) input {
  background-position: center left 0.75rem;
}

input::placeholder {
  color: var(--pico-form-element-placeholder-color);
  opacity: 1;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  scrollbar-width: none;
  word-wrap: normal;
  white-space: pre;
  border: 0;
  padding: inherit;
  margin: 0;
  text-decoration: inherit;
  display: inline-block;
  ime-mode: inherit;
}

input::selection {
  background-color: var(--pico-text-selection-color);
}
