:host {
  display: block;
  margin-bottom: calc(var(--pico-spacing) * .375);
  font-weight: var(--pico-form-label-font-weight, var(--pico-font-weight));
  cursor: default;
}

:host([aria-disabled=true]) {
  opacity: var(--pico-form-element-disabled-opacity);
  pointer-events: none;
}
