:host {
  font-size: var(--pico-font-size);
  line-height: var(--pico-line-height);
  font-family: var(--pico-font-family);
  text-underline-offset: var(--pico-text-underline-offset);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  tab-size: 4;
  display: block;
  margin-bottom: calc(var(--pico-spacing) * .375);
  color: var(--pico-color);
  font-weight: var(--pico-form-label-font-weight, var(--pico-font-weight));
  box-sizing: border-box;
  background-repeat: no-repeat;
  cursor: default;
}

:host([aria-disabled=true]) {
  opacity: var(--pico-form-element-disabled-opacity);
  pointer-events: none;
}

:host([hidden]) {
  display: none;
}
