:host {
  --pico-text-decoration: underline;
  --pico-color: var(--pico-primary);
  --pico-background-color: transparent;
  --pico-underline: var(--pico-primary-underline);
  outline: none;
  background-color: var(--pico-background-color);
  color: var(--pico-color);
  text-decoration: var(--pico-text-decoration);
  text-decoration-color: var(--pico-underline);
  text-underline-offset: 0.125em;
  transition: background-color var(--pico-transition), color var(--pico-transition), box-shadow var(--pico-transition), -webkit-text-decoration var(--pico-transition);
  transition: background-color var(--pico-transition), color var(--pico-transition), text-decoration var(--pico-transition), box-shadow var(--pico-transition);
  transition: background-color var(--pico-transition), color var(--pico-transition), text-decoration var(--pico-transition), box-shadow var(--pico-transition), -webkit-text-decoration var(--pico-transition);
  cursor: pointer;
  color: var(--pico-color);
  font-weight: var(--pico-font-weight);
  font-size: var(--pico-font-size);
  line-height: var(--pico-line-height);
  font-family: var(--pico-font-family);
  text-underline-offset: var(--pico-text-underline-offset);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  tab-size: 4;
}

:host(:is(:hover, :active, :focus)) {
  --pico-color: var(--pico-primary-hover);
  --pico-underline: var(--pico-primary-hover-underline);
  --pico-text-decoration: underline;
}

:host(:focus-visible) {
  box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
}

:host([kind=secondary]) {
  --pico-color: var(--pico-secondary);
  --pico-underline: var(--pico-secondary-underline);
}

:host([kind=secondary]:is(:hover, :active, :focus)) {
  --pico-color: var(--pico-secondary-hover);
  --pico-underline: var(--pico-secondary-hover-underline);
}

:host([kind=contrast]) {
  --pico-color: var(--pico-contrast);
  --pico-underline: var(--pico-contrast-underline);
}

:host([kind=contrast]:is(:hover, :active, :focus)) {
  --pico-color: var(--pico-contrast-hover);
  --pico-underline: var(--pico-contrast-hover-underline);
}

:host([outline]) {
  --pico-background-color: transparent;
  --pico-color: var(--pico-primary);
  --pico-border-color: var(--pico-primary);
}

:host([outline][kind=secondary]) {
  --pico-color: var(--pico-secondary);
  --pico-border-color: var(--pico-secondary);
}

:host([outline][kind=contrast]) {
  --pico-color: var(--pico-contrast);
  --pico-border-color: var(--pico-contrast);
}

:host([outline]:is(:hover, :active, :focus)) {
  --pico-background-color: transparent;
  --pico-color: var(--pico-primary-hover);
  --pico-border-color: var(--pico-primary-hover);
}

:host([outline][kind=secondary]:is(:hover, :active, :focus)) {
  --pico-background-color: transparent;
  --pico-color: var(--pico-secondary-hover);
  --pico-border-color: var(--pico-secondary-hover);
}

:host([outline][kind=contrast]:is(:hover, :active, :focus)) {
  --pico-color: var(--pico-contrast-hover);
  --pico-border-color: var(--pico-contrast-hover);
}

:host(:disabled) {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

:host([kind=secondary]:focus) {
  --pico-group-box-shadow-focus-with-button: 0 0 0 var(--pico-outline-width) var(--pico-secondary-focus);
}

:host([kind=contrast]:focus) {
  --pico-group-box-shadow-focus-with-button: 0 0 0 var(--pico-outline-width) var(--pico-contrast-focus);
}

:host([aria-busy=true]:not([outline]))::before {
  filter: brightness(0) invert(1);
}

:host([hidden]) {
  display: none;
}

:host([type=submit]) {
  width: 100%;
}

:host([aria-busy=true]) {
  white-space: nowrap;
  pointer-events: none;
}

:host([aria-busy=true])::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: var(--pico-icon-loading);
  background-size: 1em auto;
  background-repeat: no-repeat;
  content: "";
  vertical-align: -0.125em;
}

:host([aria-busy=true]:not(:empty))::before {
  margin-inline-end: calc(var(--pico-spacing) * 0.5);
}

:host([aria-busy=true]:empty) {
  text-align: center;
}

@media (prefers-reduced-motion: reduce) {
  :host(:not([aria-busy=true])), :host(:not([aria-busy=true]))::after, :host(:not([aria-busy=true]))::before {
    background-attachment: initial !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

input {
  display: none;
}
