:host {
  display: block;
  margin-top: 0;
  margin-bottom: var(--pico-typography-spacing-vertical);
}

@media (min-width: 768px) {
  :host {
    --pico-block-spacing-vertical: calc(var(--pico-spacing) * 1.5);
  }
}
@media (min-width: 576px) {
  :host {
    --pico-block-spacing-vertical: calc(var(--pico-spacing) * 1.25);
  }
}
