:host {
  --pico-font-size: 0.875em;
}

@media (min-width: 768px) {
  :host {
    --pico-block-spacing-vertical: calc(var(--pico-spacing) * 1.5);
    --pico-block-spacing-horizontal: calc(var(--pico-spacing) * 1.5);
  }
}
@media (min-width: 576px) {
  :host {
    --pico-block-spacing-vertical: calc(var(--pico-spacing) * 1.25);
    --pico-block-spacing-horizontal: calc(var(--pico-spacing) * 1.25);
  }
}
