:host {
  --pico-spacing-factor: 1;
  display: block;
  height: calc(var(--pico-spacing) * var(--pico-spacing-factor));
}

:host([typography]) {
  margin-bottom: var(--pico-typography-spacing-vertical);
}
